body{
    
    padding: 0;
    margin: 0px 140px;
    text-align: center;
    font-family: 'Yatra One', cursive;
    background-color: #BDBDBD;  /* change1 */
}

.cityTitle{
    font-size: 24px;
    
}

body *{
    margin-bottom: 5vh;
}

img {
    max-height: 160px;/* change6 */
    min-height: 160px;
}

.zip{
    border: 2px solid rgb(84, 85, 87);/* change2 */
    border-radius: 4px; /* change3 */
}

.bigContainer{
    display: flex; 
    flex-direction: row;/* change4 */
    justify-content: space-between;/* change5 */

}

.cont1{
    margin: 70px 140px;/* change7 */
}

.cont2{
    margin: 70px 140px;/* change8 */
}

button{
    border: 2px solid rgb(84, 85, 87);/* change9 */
    border-radius: 4px; /* change10 */
}